/* PARALLAX */
.body {
  margin: 0px;
  padding: 0px;
}

.keyart, .keyart_layer {
  height: 1000px;
}

.navbar-inverse {
    background-color: #ffaf1b;
    border-color: #ffaf1b;
}

@media (min-width: 768px)
   .navbar {
    border-radius: 0px;
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}

#keyart-0 {
  background-image: url("http://www.firewatchgame.com/images/parallax/parallax0.png");
  background-color: #ffaf1b;
}

#keyart-1 {
  background-image: url("parallax1.png");
}

#keyart-11{
  background-image: url("ignus_masala.png");
  visibility: hidden;
}


#keyart-2 {
  background-image: url("parallax2.png");
  width: 105%
}

#keyart-3 {
  background-image: url("http://www.firewatchgame.com/images/parallax/parallax3.png");
}

#keyart-4 {
  background-image: url("http://www.firewatchgame.com/images/parallax/parallax4.png");
}

#keyart-5 {
  background-image: url("http://www.firewatchgame.com/images/parallax/parallax5.png");
}

#keyart-6 {
  background-image: url("http://www.firewatchgame.com/images/parallax/parallax6.png");
}

#keyart-7 {
  background-image: url("parallax7.png");
}

#keyart-8 {
  background-image: url("parallax8.1.png");
  height: 120%;
}

#keyart-scrim {
  background-color: #ffaf00;
  opacity: 0;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #keyart-0 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax0@2x.png");
    background-color: #ffaf1b;
  }

  #keyart-1 {
    background-image: url("parallax1.png");
  }

  #keyart-11{
    visibility: visible;
    background-image: url(ignus_masala.png);
    height: 133vw;
    left: -2vw;
    z-index: 100;
  }

  .navbar {
    border-radius: 0px;
  }

  #keyart-2 {
    background-image: url("parallax2.png");
    visibility: hidden; 
  }

  #keyart-3 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax3@2x.png");
  }

  #keyart-4 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax4@2x.png");
  }

  #keyart-5 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax5@2x.png");
  }

  #keyart-6 {
    background-image: url("http://www.firewatchgame.com/images/parallax/parallax6@2x.png");
  }

  #keyart-7 {
    background-image: url("parallax7.png");
  }

  #keyart-8 {
    background-image: url("parallax8.1.png");
    height: 110%;

  }

.keyart, .keyart_layer {
  height: 220vw;
  width: 106%;
  align-items: center;

}

}
