<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ignus 2018</title>
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style_c.css">

  
</head>

<body style="margin:0px">
   <!-- <nav class="navbar navbar-inverse" style="
    top: 0;
    padding: 0;
    margin: 0;
    position: sticky;
    /* background: transparent; */
    z-index: 1000000000;
">
    <div class="container-fluid" style="
    position: fixed;
">

         
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'music:index'%}">Home</a>

        </div>

        
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;First Year
                        </a><ul class="dropdown-menu"><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'music:index'%}">
                            </a><li><a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'music:index'%}"> </a><a href="#">first yr page1</a>  </li>
                        </ul>
                    
                </li>
                <li class="">
                    <a href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;Second Year
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;Third Year
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>&nbsp;Fourth Year
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Additonal Courses
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'music:index'%}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                </li>

            </ul>


        </div>

    </div>
</nav>-->
<div class="cards_css">
  <ul class="cards">
  <li class="card card--aod" onclick=""></li>
  <li class="card card--aoc" onclick=""></li>
  <li class="card card--aoh" onclick=""></li>
  <li class="card card--aos" onclick=""></li>
  <li class="card card--koh" onclick=""></li>
  </ul>
</div>
  <div class="keyart" id="parallax">
  <div class="keyart_layer parallax" id="keyart-0" data-speed="2" style="transform: translate3d(0px, -2.863999938964844px, 0px)"></div>   <!-- 00.0 -->
  <div class="keyart_layer parallax" id="keyart-1" data-speed="5" style="transform: translate3d(0px, -7.159999847412109px, 0px)"></div> <!-- 12.5 -->
  <div class="keyart_layer parallax" id="keyart-11" data-speed="5" style="transform: translate3d(0px, -7.159999847412109px, 0px)"></div>  <!-- 12.5 -->
  <div class="keyart_layer parallax" id="keyart-2" data-speed="11" style="transform: translate3d(0px, -15.751999664306641px, 0px)"></div>   <!-- 25.0 -->
  <div class="keyart_layer parallax" id="keyart-3" data-speed="16" style="transform: translate3d(0px, -22.91199951171875px, 0px)"></div>  <!-- 37.5 -->
  <div class="keyart_layer parallax" id="keyart-4" data-speed="26" style="transform: translate3d(0px, -37.231999206542966px, 0px)"></div>   <!-- 50.0 -->
  <div class="keyart_layer parallax" id="keyart-5" data-speed="36" style="transform: translate3d(0px, -51.551998901367185px, 0px)"></div> <!-- 62.5 -->
  <div class="keyart_layer parallax" id="keyart-6" data-speed="49" style="transform: translate3d(0px, -70.16799850463867px, 0px)"></div>    <!-- 75.0 -->
  <div class="keyart_layer" id="keyart-scrim"></div>
  <div class="keyart_layer parallax" id="keyart-7" data-speed="69" style="transform: translate3d(0px, -98.80799789428711px, 0px)"></div>    <!-- 87.5 -->
  <div class="keyart_layer" id="keyart-8" data-speed="100"></div>   <!-- 100. -->
</div>

  
    <script src="js/index.js"></script>
    <script src='js/epmrgo1.js'></script>




</body>
</html>
